body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  background-image: linear-gradient(to bottom, green, lightblue);
  overflow: hidden;
}

.container {
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(/img/drum.webp) center no-repeat;
  height: 100vh;
}

.keys {
  display: flex;

  flex: 1;
  height: 170%;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid black;
  border-radius: 50%;
  margin: 1rem;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  transition: all 0.9s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.2);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
